<html>
    <head>
        <title>GAMI's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        
        <div>
            <p>publishd: 11.07.2019, 15:00</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. こんにちは！ よろしくおねがいします！</p>
        </div>

        <div>
            <p>公開日: 2019/07/11, 15:00</p>
            <h2><a href="">2番目の投稿</a></h2>
            <P> こんにちは! よろしくお願いします！ </P>
        </div>
    </body>
</html>